<h1 id="main">Rank an Anime Character from this Series </h1>
<form name="Series-list">
    <!-- <div>
        <h3><b>Select Series</b></h3>  -->

        <!-- <select [(ngModel)]="Seriesid" name="Seriesid" title="Select a Series">
            <option value="" disabled selected>Select an Anime Series</option>
            <option  *ngFor="let series of Animeseries" value="{{series.sId}}">{{series.name}}</option> -->
            <!-- <option value="30544">Fist of the North Star</option> -->
            <!-- <option value="967">Fist of the North Star</option>
            <option value="30694">Dragon Ball Super</option>
            <option value="1254">Saint Seiya</option>

            <option value="14719">JoJo's Bizarre Adventure</option>
            <option value="20899">JoJo's Bizarre Adventure: Stardust Crusaders</option>
            <option value="31933">JoJo's Bizarre Adventure: Diamond is Unbreakable</option>
            <option value="37991">JoJo's Bizarre Adventure: Golden Wind</option>

            <option value="392">Yu Yu Hakusho</option>
            <option value="45">Rurouni Kenshin</option>
            <option value="481">Yu-Gi-Oh!</option>
            <option value="21">One Piece</option>

            <option value="11061">Hunter x Hunter</option>
            <option value="154">Shaman King</option>
            <option value="1735">Naruto: Shippuden</option>
            <option value="269">Bleach</option>

            <option value="1535">Death Note</option>
            <option value="1604">Katekyo Hitman Reborn!</option>
            <option value="10033">Toriko</option>
            <option value="9513">Beelzebub</option>

            <option value="24833">Assassination Classroom</option>
            <option value="31964">My Hero Academia</option>
            <option value="34572">Black Clover</option>
            <option value="38000">Demon Slayer</option>

            <option value="38691">Dr. Stone</option>
            <option value="14513">Magi: The Labyrinth of Magic</option>
            <option value="30831">KonoSuba: God's Blessing on This Wonderful World!</option>
            <option value="31478">Bungo Stray Dogs</option>

            <option value="24439">Blood Blockade Battlefront</option>
            <option value="35120">Devilman: Crybaby</option>
            <option value="37349">Goblin Slayer</option>
            <option value="37430">That Time I Got Reincarnated as a Slime</option>

            <option value="35790">The Rising of the Shield Hero</option>
            <option value="37520">Dororo</option>
            <option value="1292">Afro Samurai</option>
            <option value="37521">Vinland Saga</option>

            <option value="2001">Gurren Lagann</option>
            <option value="5114">Fullmetal Alchemist: Brotherhood</option>
            <option value="30276">One Punch Man</option>
            <option value="32182">Mob Psycho 100</option>

            <option value="6702">Fairy Tail</option>
            <option value="23755">The Seven Deadly Sins</option>
            <option value="4654">A Certain Magical Index</option>
            <option value="3588">Soul Eater</option>

            <option value="38671">Fire Force</option>
            <option value="9941">Tiger & Bunny</option>
            <option value="270">Hellsing</option>
            <option value="31339">Drifters</option>

            <option value="11757">Sword Art Online</option>
            <option value="17265">Log Horizon</option>
            <option value="16498">Attack on Titan</option>
            <option value="18679">KILL la KILL</option>

            <option value="36903">Kengan Ashura</option>
            <option value="1575">Code Geass</option>
            <option value="34096">Gintama</option>
            <option value="1">Cowboy Bebop</option>

            <option value="34561">Re:Creators</option>
            <option value="37779">The Promised Neverland</option>
            <option value="205">Samurai Champloo</option>
            <option value="5355">Sengoku Basara</option>

            <option value="30296">Chivalry of a Failed Knight</option>
            <option value="68">Black Cat</option>
            <option value="4898">Black Butler</option>
            <option value="28121">Is It Wrong to Try to Pick Up Girls in a Dungeon?</option>

            <option value="9919">Blue Exorcist</option> -->
        <!-- </select>
        <button (click)="getSeries()" class="btn btn-secondary" title="Search for Series">Get Series</button>
    </div> -->
    <div class="col-md col-form-label-lg">
        <input type="search"
        [(ngModel)]="Seriesname"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        size="50">
       <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    <button (click)="getSeries()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </div>

    <div>
        <h4>{{Seriesname}}</h4>
        <div class="row">
            
            <div><img src={{Seriesimage}} alt="Series Image" width="200" height="250"></div>
            <div><b> Description</b>: <br>{{Seriesdescription}}</div>
            
        </div>

        <div class="row">
            <h3 id = "chartit"><b>Characters</b></h3>
            <div *ngIf="role == 'admin'">
                <button (click)="char()" class="btn btn-secondary" title="Search for Series">Add a New Character</button>
            </div>
           
        </div>
        
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col" title="Characters are ranked from 1-10
                    10: indicates God-Level strength
                    5: indicates Super-human strength
                    1: indicates average-human level strength">Rank</th>
                    <th scope="col" title="Main Ability/Technique that Character is known for.">Special Ability</th>
                    <th scope="col" title="All possible skills that Characters knows.">Skills</th>
                    <th scope="col" title="Update the character">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ac of AnimeCharacters; let in = index">
                    <td>{{ac.charId}}</td>
                    <td>{{ac.name}}</td>
                    <td>{{ac.gender}}</td>
                    <td><img src={{ac.image}} alt="Character Image" width="50" height="75"></td>
                    <td>{{ac.profile}}</td>
                    <td>{{ac.rank}}</td>
                    <td>{{ac.special}}</td>
                    
                    <td>
                        <table *ngIf="ac.skills">
                            <tbody>
                                <tr *ngFor="let a of ac.skills">
                                    <td>{{a.skillname}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <div *ngIf="user != undefined && role == 'admin'; else subsribe">
                            <form name="edit charcter">
                                <!-- <div>{{AnimeCharacters[in].charId}}</div> -->
                                <!-- <input type="button" (click)="changechar(ac.charId)" [(ngModel)]="ac.charId" name="edit"> -->
                                <button (click)="deletechar(ac.charId)" class="glyphicon glyphicon-remove" id="deletebutton"></button>
                            
                                &nbsp; &nbsp;
                                <button (click)="changechar(ac.charId)" class="glyphicon glyphicon-pencil" id="editbutton"></button>
                            </form>
                        </div>
                        <ng-template #subsribe>
                            <form name="edit charcter">
                                <!-- <div>{{AnimeCharacters[in].charId}}</div> -->
                                <!-- <input type="button" (click)="changechar(ac.charId)" [(ngModel)]="ac.charId" name="edit"> -->
                                <button (click)="rankchar(ac.charId)" id="rank">Rank</button>
                            
                               
                            </form>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <h3 id = "chartit"><b>Update the character</b></h3>
        <input type="text" name="Characterid" [(ngModel)]="Charaterid" min="1" step="1" class="form-control" 
        title="Character's ID shown from table above" placeholder="Enter Character's Id..." required>
        <button (click)="changechar()" class="btn btn-secondary" title="Search for Series">Edit</button> -->
    </div>

</form>
