<form>

    <h3>update this character {{Charaterid}}</h3>

    <!-- <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col" title="Characters are ranked from 1-10
                10: indicates God-Level strength
                5: indicates Super-human strength
                1: indicates average-human level strength">Rank</th>
            </tr>
        </thead>
        <tbody>
                <td>
                    <img src={{Characterimage}} alt="Character Image" width="200" height="250">
                </td>
                <td>
                    <div>Name: {{Charactername}} </div>

                    <div>Gender: {{Charactergender}}</div>

                    <div>Desription {{Characterdescrip}} </div>

                    <div>Special Ability: {{Characterability}}</div>
                </td>
                <td id="rank"> {{Characterrank}}</td>
        </tbody>
    </table> -->
    

    <div class="col-md col-form-label-lg">
        <div class="row">
            <label class = "chartit" ><b>Characer name: </b>
            <input type="text" name="Charname" [(ngModel)]="Charactername" class="form-control" placeholder="Enter Character's Name..." required>
            </label>
            
            <label ><b>Gender:                                                    </b>
            <br>
            <input type="radio" [(ngModel)]="Charactergender" id="male" name="Chargender" title="Select Characer's Gender" value="male">
            <label for="male">Male</label>
            <br>
            <input type="radio"  [(ngModel)]="Charactergender" id="female" name="Chargender" title="Select Characer's Gender" value="female">
            <label for="female">Female</label>
            </label>
        </div>

        <div class="row">
        <label id = "descp"><b>Profile:</b>
        <!-- <input type="text" name="Charprofile" [(ngModel)]="Characterdescrip" class="form-control" placeholder="Enter Character's Description..." required> -->
        <textarea name="Charprofile" [(ngModel)]="Characterdescrip" class="form-control" placeholder="Enter Character's Description..." required rows="10" cols="60">
            
        </textarea>
        </label>

        <label ><b>Update Character ability:</b>
        <input type="text" name="Characterability" [(ngModel)]="Characterability" class="form-control" 
        title="update the Character can use" placeholder="update a character..." required>
        </label>

        </div>
        <button (click)="updatechar()" class="btn btn-secondary">Update</button>
        
    </div>


    <br>

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="5" scope="col" title="All possible skills that Characters knows.">Skills</th>
                   
            </tr>
        </thead>
        <tbody>
             <tr  *ngFor="let a of rowskill; let in = index">
                 <td *ngFor="let r of a">
                   {{r.skillname}}
                    <form name="edit skill">
                        <button (click)="deleteskill(a.skillId)" class="glyphicon glyphicon-remove" id="deletebutton"></button>
                    </form>
                 </td>
               
            </tr>
                        
        </tbody>
    </table>
    <div class="col-md col-form-label-lg">
        

        <label ><b>Skill</b></label>
        <input type="text" name="Charskill" [(ngModel)]="Characterskill" class="form-control" 
        title="Any skill that the Character can use" placeholder="Enter new Skill..." required>
        <button (click)="sendskill()" class="btn btn-secondary">Save</button>
        <button (click)="cancel()" class="btn btn-secondary">cancel</button>
    </div>
</form>
