#seriesinfo{
    border-style:solid;
    border-width:5px;
}
#seriesinfo div{
    display:inline-block;
}
#charmenu{
    float:right;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#deletebutton:hover:before{
    content:"delete";
}


#editbutton:hover:before{
   
    content: "edit";
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

ul {
    list-style-image: url('ayaya.jpg')
}

.row{
    display: flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  li{
    margin: 10px 0;
  }

  #main{
    text-align:center;
  }

  th{
    text-align: center;
    }

  #chartit{
      padding-right: 80%;
  }

  /* button{
    background-color: rgb(182, 182, 182);
} */

#tooltip{
    position: relative;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
  }
  
  #tooltip .tooltiptext{
    visibility: hidden;
    background-color: rgb(175, 170, 170);
    color: rgb(14, 14, 14);
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
  
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 30px;
  }
  
  #tooltip:hover .tooltiptext{
    visibility: visible;
  }

  #save{
    background-color: rgb(182, 182, 182);
  }

  #rankpage{
    background-color: rgb(255, 255, 255);
    margin: 0px;
  }